<div class="middle">
  <div class="limiter">
    <div class="box first double">
      <h4>Reset Password</h4>
      <% form_for :reset_password, :html => {:class => "create"}, :url => reset_password_index_path do |f| %>
      <table>
        <tbody>
          <tr>
            <td><%= f.label :email %></td>
          </tr>
          <tr>
            <td><%= f.text_field :email, :class => "wide" %></td>
          </tr>
        </tbody>
      </table>
      <%= f.submit "Submit" %>
      <% end %>
    </div>
    <div class="box secondary">
      <h3 id="siteFeatures"><span class="alt">Site Features</span></h3>
      <p>A link to reset your password will be mailed to you. When you get the email look inside email 
        for a link that will take you to a temporary page where you can enter a new password. </p>
    </div>
    <div class="clear"></div>
  </div>
</div>
