
<div class="middle">
  <div class="limiter">
    <div class="box first double">
      <h3 id="upcomingEvents"><span class="alt">Your Upcoming Events</span></h3>
      




    </div>

    <div class="clear"></div>
  </div>
  <div class="gradient"></div>
</div>