
<div class="top">
  <div class="limiter">
    <div class="floatL">
    <h1><a href="#" title="Sitter Calling"><span class="alt">Sitter Calling</span></a></h1>
    </div>
    <div class="floatR">
		<% if current_user %>
			<%= link_to "Home", user_url(current_user) %>
			<%= link_to "Edit Profile", edit_user_path(current_user) %>
			<%
			 #link_to "History", :controller => 'histories' 
			 %>
			<%= link_to "Logout" , :logout %>
            <a href="#"><%=h current_user.first_name %></a>

		<% end %>
	
     </div>
  </div>
</div>