<div class="middle">
  <div class="limiter">
    <div class="box first double">
      <h2>About Us</h2>
      <p>
        SitterCalling is a convenience website that you can use to schedule sitter events. Once you are networked with your circle of parents and sitters you can schedule events and let the website take over. The site is and will always be, FREE. 
      </p>
    </div>
    <div class="box secondary">
      <h3 id="siteFeatures"><span class="alt">Site Features</span></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi placerat cursus justo, non bibendum nisi tristique at. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam a nulla est, varius condimentum erat. Aliquam erat volutpat. Duis pellentesque tincidunt justo, non mollis arcu adipiscing eu. Quisque bibendum nulla vel tellus laoreet vehicula.</p>
    </div>

    <div class="clear"></div>
  </div>
</div>
