<div class="box">
  <h2>About Us</h2>
  <p>
    SitterCalling is a convenience website that you can use to schedule sitter events. Once you are networked with your circle of parents and sitters you can schedule events and let the website take over. The site is and will always be, FREE. 
  </p>
</div>
